html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn-custom 
    {
        background-color: #002f34;
        border-color: #002f34;
        color: #fff;
    }

.background
    {
        background-color: #f2f4f5;
        border-width: 0px;
    }

    .dropdown-custom
    {
        position: relative;
        width: 100%;
    }    
    
    .dropdown-custom-button
    {
        cursor: pointer;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 60px;
        padding-right: 70px;
        border: 1px solid rgba(0, 0, 0, .01);
        background-color: yellowgreen;
        color: white;
    }
    
    .dropdown-custom-menu
    {
      z-index: 9;
      position: absolute;
      left: 0;
      top: calc(100% + .5rem);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      background-color: white;
      border-radius: 10px;
      padding: 10px;
      opacity: 0;
      transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
      transform: translateY(-25%);
      pointer-events: none;
    }
    
    .dropdown-custom.active > .btn + .dropdown-custom-menu{
      opacity: 1;
      pointer-events: auto;
      transform: translateY(0);
    }

.imagePreview
{
  margin-top: 10px;
  width: 300px;
  height: 300px;
  display: block;
}

.background
    {
        background-color: #f2f4f5;
        border-width: 0px;
    }

    .btn-custom
    {
        background-color:#002f34;
        float: right;
    }

    .description
    {
        height: 200px;
    }

    .field-validation-error
    {
        color: red;        
    }

    .input-validation-error
    {
        color : red;
    }

    .pager
    {
      flex:auto;
      flex-direction: row;
      margin: 25px;
      padding: 5px;
      align-items: center;
      text-align: center;
    }
    
    .pageLabel
    {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      border: 0px;
      background-color: transparent;
      color: #002f34;
      font-weight: 600;
      font-size: 15px;
      margin: 5px;
      cursor: pointer;
    }

    .hidden
    {
      visibility: hidden;
      pointer-events: none;
    }

    .pageButton
    {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      border: 0px;
      background-color: transparent;
      color: #002f34;
      font-weight: 600;
      font-size: 15px;
      margin: 5px;
    }

    .pageButton.active
    {
      border: 2px solid #002f34;
    }

    .pageButton:hover
    {
      border: 3px solid #002f34;
    }


  
    .btn-outline-custom
    {
      background-color: #002f34;
      border: 3px solid #002f34;
      color : white;
      width: 100%;
      font-size: 20px;
      font-weight: 600;
      height : 60px;
    }

    .btn-outline-custom:hover
    {
      background-color: white;
      color: #002f34;
    }
    
    .searchBar
    {
      font-size: 20px;
      font-weight: 200;
      height: 60px;
      padding: 20px;
      width: 100%;
      color: rgba(0, 0, 0, .5);
      border: 0;
      text-align: start;
    }

    .searchBarButton
    {
      font-size: 20px;
      font-weight: 200;
      width: 100%;
      padding-left: 20px;
      text-align: start;
      height: 60px;
      background-color: white;
      color: rgba(0, 0, 0, .5);
      border: 0;
    }
    .popup
    {
      border-radius: 10px;
      border-width: 5px;
      border: black;
      border-color: rgb(54, 54, 54);
      align-items: center;
      width: 400px;
      background-color: white;
      position: fixed;
      top: 0%;
      left: 50%;
      text-align: center;
      padding: 30px;
      transform: translate(-50%, -50%) scale(0.1);
      transition: transform ease-in-out 0.2s;
      visibility: hidden;
      z-index: 10;
    }
    
    .popup-show
    {
      top: 50%;
      visibility: visible;
      transform: translate(-50%, -50%) scale(1);
    }
    
    .popup img
    {
      width: 100px;
      height: 100px;
      margin-top: -80px;
      box-shadow: black;
    }
  
    .popup .btn
    {
      color: white;
      margin-top: 30px;
      border-radius: 25px;
    }
    
    .overlay
    {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, .5);
        pointer-events: none;
        z-index: 9;
    }
    
    .overlay-show
    {
        opacity: 100;
        pointer-events: all;
    }